##PREDICTING THE SPECIES OF FLOWERS USING THE LENGTH AND WIDTH OF ITS SEPAL AND PETALS

In [7]:
##importing the relevant libraries from sklearn
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np

In [4]:
iris = load_iris()

In [11]:
#iris

In [10]:
##the dataset is not originally present as a dataframe, but you can change that using pandas- though not neccessary for the project
df = pd.DataFrame(iris.data, columns = iris.feature_names)
df["target"] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [18]:
#separating the data into dependent and independent variables
X = iris.data
y = iris.target

##incase you need the name of the acctual target variables
y_names = iris.target_names

##now splitting the dataset into test and train sets 
##using numpy to geenrate random indices

test_ids = np.random.permutation(len(X))

###now we can use this set of indices to guide the split of split both the tes and train sets 
###KEEPING THE LAS T 10 ENTRIES FOR THE TESTING , THE OTHERS FOR TARINING
X_train = X[test_ids[:-10]]
X_test = X[test_ids[-10:]]

y_train = y[test_ids[:-10]]
y_test = y[test_ids[-10:]]

In [19]:
len(X_train) == len(y_train)

True

In [20]:
len(X_test) == len(y_test)

True

In [25]:
##classifying using decission tree
clf = tree.DecisionTreeClassifier()

##traing the the clasiifier with the training set
dt= clf.fit(X_train, y_train)
dt

##predicting the tes traget variable using the tes X
pred = dt.predict(X_test)

In [29]:
##testin the accuracy of the model we jus used usin g the accuracy score module we imported from skleearn
print(pred)
print(y_test)

print(accuracy_score(pred, y_test)*100)

[0 1 0 1 0 2 1 1 2 0]
[0 1 0 1 0 2 1 1 2 0]
100.0